.minw-85 {
  min-width: 85%;
}

.minw-75 {
  min-width: 75%;
}

.scale-hover:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}

li {
  font-size: larger;
}

.fs-per {
  font-size: 0.9rem;
}
@media (min-width: 1650px) {
  .fs-zl-6 {
    font-size: 1rem; /* Tamaño de fuente equivalente a fs-6 en lg */
  }
}

.bg-tr-grey {
  background-color: rgba(92, 92, 92, 0.23);
}

@media (max-width: 992px) {
  .bg-tr-grey-lg {
    background-color: rgba(92, 92, 92, 0.23);
  }
}
